<!-- 
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Gustavo Carreño Nevarez</mat-card-title>
        <mat-card-subtitle>Aspirado y Lavado- Honda Civic 2008 </mat-card-subtitle>
        <h1>1:45</h1>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card2">
    <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Gustavo Carreño Nevarez
             <mat-chip-option color="accent" >R</mat-chip-option> 
             <mat-chip-option color="accent" >A</mat-chip-option> 
            </mat-card-title> 
          <mat-card-subtitle>Aspirado y Lavado- Honda Civic 2008 </mat-card-subtitle>
          <h1>1:45</h1>
        </mat-card-title-group>
      </mat-card-header>
  </mat-card>
  <mat-card class="example-card2">
    <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Gustavo Carreño Nevarez <mat-chip-option color="accent" >A</mat-chip-option> </mat-card-title>
          <mat-card-subtitle>Aspirado y Lavado- Honda Civic 2008 </mat-card-subtitle>
          <h1>1:45</h1>
        </mat-card-title-group>
      </mat-card-header>
  </mat-card>
  <mat-card class="example-card2">
    <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Gustavo Carreño Nevarez <mat-chip-option color="accent" >E</mat-chip-option></mat-card-title>
          <mat-card-subtitle>Aspirado y Lavado- Honda Civic 2008 </mat-card-subtitle>
          <h1>1:45</h1>
        </mat-card-title-group>
      </mat-card-header>
  </mat-card>
  <mat-card class="example-card2">
    <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Gustavo Carreño Nevarez
            <mat-chip-option color="accent" >E</mat-chip-option>     
        </mat-card-title>
          <mat-card-subtitle>Aspirado y Lavado- Honda Civic 2008 </mat-card-subtitle>
          <h1>1:45</h1>
        </mat-card-title-group>
      </mat-card-header>
  </mat-card>
  <mat-card class="example-card2">
    <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Gustavo Carreño Nevarez

            <mat-chip-option color="accent" >E</mat-chip-option>   
          </mat-card-title>
          <mat-card-subtitle>Aspirado y Lavado- Honda Civic 2008   </mat-card-subtitle>
          <h1>1:45</h1>
        </mat-card-title-group>
      </mat-card-header>
  </mat-card> -->
<!-- 	
  <ol style="--length: 5" role="list">
    <li style="--i: 2">
      <h5>Discovery and assessment</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing diam donec adipiscing tristique risus.</p>
    </li>
  </ol> -->
    

  
  <!-- <mat-card class="example-card2" *ngFor="let item of objListaEspera" (click)="listInfo(item)" >
    <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{item.name}}
            <mat-chip-option color="accent" >E</mat-chip-option>         
        </mat-card-title>
          <mat-card-subtitle>{{item.service}}- {{item.car}} </mat-card-subtitle>
          <h1>1:45</h1>
        </mat-card-title-group>
      </mat-card-header>

  </mat-card>
  <button mat-fab color="primary"class="float" aria-label="Example icon button with a delete icon" (click)="newSales()" >
    <mat-icon>add</mat-icon>
  </button> -->